.carousel-item button{
    background-color: yellow;
}

.carousel-item button:hover{
    background-color: blue;
    border-color: blue;
}

.tic{
    width: 50px;
}

.medalla{
    width: 50px;
}

.rayito{
    width: 50px;
}

.meInteresa{
    background-color: yellow;
    border-color: yellow;
    border-radius: 0%;
    color:black;
    font-weight: bold;
}

.meInteresa:hover{
    background-color: rgb(231, 231, 109);
    border-color: rgb(231, 231, 109);
    color: black;
    font-weight: bold;
}

.itemsInicio li{
    margin-bottom: 10px;
}

.generarElectricidad{
    background-color: grey;
}

.generarElectricidad img{
    align-items: center;
    padding: 10%;
}

.textoGenerarelectricidad{
    align-items: center;
    padding: 5%;
}

.quieroVermasinfo{
    background-color: yellow;
    border-color: yellow;
    border-radius: 0%;
    color:black;
    font-weight: bold;
}

.quieroVermasinfo:hover{
    background-color: rgb(231, 231, 109);
    border-color: rgb(231, 231, 109);
    color: black;
    font-weight: bold;
}

.calentamientoDeagua img{
    align-items: center;
    padding: 10%;
}

.textoCalentamientodeagua{
    align-items: center;
    padding: 5%;
}

.contactar{
    background-color: yellow;
    border-color: yellow;
    border-radius: 0%;
    color:black;
    font-weight: bold;
}

.contactar:hover{
    background-color: rgb(231, 231, 109);
    border-color: rgb(231, 231, 109);
    color: black;
    font-weight: bold;
}

.bombeoSolar img{
    align-items: center;
    padding: 10%;
}

.textoBombeosolar{
    align-items: center;
    padding: 5%;
    color: black;
}

.bombeoSolar{
    background-color: darkblue;
}

.carousel-caption h2{
    color: black;
    font-weight: bold;
}

.carousel-caption p{
    color: black;
    font-weight: bold;
}

@media (max-width:540px) {
    .carousel-caption h2{
        font-size:50%;
    }
    .carousel-caption p{
        font-size:25%;
    }
    .carousel-caption button{
        scale: 0.5;
    }
}

footer{
    background-color: black;
    color: yellow;
}

.infoExtrafooter img{
    width:25px;
    height:15px;
}

.emprendedurismo{
    background-color: lightgrey;
}

.emprendedurismo img{
    align-items: center;
    padding: 10%;
}

.textoEmprendedurismo{
    align-items: center;
    padding: 5%;
}

.naturaleza{
    background-color: black;
    color: white;
}

.naturaleza img{
    align-items: center;
    padding: 10%;
}

.textoNaturaleza{
    align-items: center;
    padding: 5%;
}

.seguridad img{
    align-items: center;
    padding: 10%;
}

.textoSeguridad{
    align-items: center;
    padding: 5%;
}